
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#548687 ;
    text-align: center;
}
.heading{
    font-size:  200px;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
height: 60vmin ;
width: 60vmin;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius:1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0,0.3);
    font-size: 8vmin;
    color: #b0413e ;
    background-color: #ffffc7;
}
#resetbutton{
    padding: 1rem;
    font-size: 4rem;
    background-color: rgb(23, 19, 19);
    color: azure;
    border-radius:1rem;
    height: 8vmin;
    width: 15vmin;
    border-radius: 40px;
}
#new-btn{
    padding: 1rem;
    font-size: 4rem;
    background-color: rgb(23, 19, 19);
    color: azure;
    border-radius:1rem;
    height: 8vmin;
    width: 15vmin;
    border-radius: 40px;
}
#msg{
    color:#ffffc7 ;
    font-size: 8vmin;
}
.msg_container{
    height: 40vmin ;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.hide{
    display: none;
}